@import "tailwindcss";

.animate-fade-in {
    animation: fade-in 1.2s cubic-bezier(0.4,0,0.2,1) forwards;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: none; }
}